
.container12 {
    width: 1674px;
    height: 707px;
    border-radius: 42px 42px 0px 0px;
    background: #1E1E1E;
    display: flex; 
    align-items: center;
    padding: 20px;
}

.img-container {
    width: 704px;
    height: 622px;
    border-radius: 24px;
    position: relative;
    overflow: hidden; 
}
.heading-1{
    font-family: Poppins;
font-size: 53px;
font-weight: 700;
line-height: 79.98px;
text-align: left;

}


.side-con {
    width: 583px;
    height: 161px;
    margin-left: 20px; 
    color: white;
   
}


